<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="c8def7b4-5137-4792-a998-19223e4e1c35" Publisher="CN=Simon" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Metrofier.App</DisplayName>
    <PublisherDisplayName>Simon</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Metrofier.App.App">
      <VisualElements DisplayName="Metrofier.App" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Metrofier.App" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>